<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Search</title>
        <script src="https://kit.fontawesome.com/b480dbcba5.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Noticia+Text&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <header>
            <div class="header_inner">
                <h3>Movie Search <i class="fas fa-film"></i></h3>
            </div>
        </header>