html, body {
    margin: 0;
    background-color: #DBFAFF;
    color: #053847;
    height: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bowlby One SC', cursive;
}

p, a, li, ul, ol, q, label {
    font-family: 'Noticia Text', serif;
}

.bold {
    font-weight: bold;
}

header {
    background-image: linear-gradient(to top, white -50%, #68C6C9 58%);
    width: 100vw;
    position: relative;
    top: 0;
}

.header_inner {
    max-width: 860px;
    margin: 0 auto;
}

header h3 {
    font-size: 1.6rem;
    margin: 0;
    padding: 8px 0 8px 20px;
}

.fa-film {
    font-size: 2.6rem;
    position: relative;
    top: 5px;
}

main {
    margin: 0 auto;
    background-image: url("../imgs/theater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: calc(100vh - 125px);
}

#search_wrap {
    width: 99vw;
    max-width: 600px;
    text-align: center;
}

#search_wrap,
#error_wrap {
    margin: 0 auto;
}

#search_wrap,
#body_inner {
    min-height: calc(100vh - 190px);
}

#error_wrap {
    min-height: calc(100vh - 222px);
}

#error_wrap {
    text-align: center;
}

#error_wrap h1 {
    font-size: 3rem;
}

#error_wrap p {
    font-size: 1.8rem;
}

#error_wrap q {
    color: #053847;
}

#search_heading {
    font-size: 2.6rem;
    margin: 0 auto;
    padding-top: 40px;
    text-shadow: 0 0 8px #DBFAFF;
}

form {
    background-color: #DBFAFF;
    width: 280px;
    margin: 0 auto;
    border: outset grey 3px;
    border-radius: 12px;
}

label {
    font-weight: bold;
}

input, select {
    margin: 10px 6px;
    border-radius: 6px;
}

input[type=submit] {
    background-color: #053847;
    color: white;
    padding: 6px 12px;
    border-radius: 9px;
}

#body_inner {
    margin: 30px auto;
    width: 93vw;
    max-width: 700px;
}

#movie_title {
    text-align: center;
    font-size: 2.6rem;
}

img {
    display: block;
    margin: 0 auto;
    border: outset #68C6C9 6px;
}

#year {
    background-color: gray;
    color: white;
    padding: 3px 8px;
    font-size: 1.2rem;  
    border-radius: 6px;
    align-self: center;
}

#year_ratings_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#ratings_wrap {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, white 40%, #68C6C9 180%);
    height: 90px;
    align-self: center;
    border: 4px outset lightgray;
    border-radius: 16px; 
    padding: 10px;
}

.rating {
    width: 26vw;
    max-width: 100px;
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating p {
    margin: 0 auto;
}

.rating_box {
    background-color: rgb(238, 238, 238);
    color: #053847;
    border-radius: 6px;
    padding: 4px 10px;
}

.green {
    border: green solid 4px;
}

.yellow {
    border: yellow solid 4px;
}

.red {
    border: red solid 4px;
}

#restart {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 120, 120);
    box-shadow: -2px -2px 8px black;
}

#restart a {
    color: white;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

#restart a:hover {
    text-decoration: underline;
}

footer {
    background-image: linear-gradient(to bottom, white -50%, #68C6C9 58%);
    width: 100vw;
    height: 20px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

footer p {
    margin-top: 0;
}

@media (min-width: 800px) {
    header h3 {
        padding: 8px 0;
    }

    #img_y-r_wrap {
        display: flex;
        width: 540px;
        margin: 0 auto;
    }

    #ratings_wrap {
        flex-direction: column;
        height: auto;
        width: 164px;
        justify-content: space-around;
    }

    .rating {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding: 38px 0;
    }

    .rating_name {
        text-align: left;
    }

    #restart a {
        padding: 10px 16px;
    }
}